## AUTOMATIZACIÓN CARGA Y PROCESADO DE TABLAS FORMATO 'EHIS' O SIMILAR

### Librerías necesarias

In [1]:
import numpy as np
import pandas as pd
import os

### Función "carga_formato_independientes_EHIS()".

Función que a partir de los archivos 'csv' descargados de la página de Eurostat con el formato EHIS o similar crea un archivo por cada variable ya con el formato adecuado (pivotaje), siendo sus columnas las de las dimensiones geográfica (GEO), de género (SEX) y grupos de edad (AGE), y por último una columna por cada categoría de la variable en cuestión con sus valores correspondientes.

Tiene como entrada un diccionario de tuplas (nombre_archivo_descarga_variable, nombre_columna_categorias, categorías_por_orden)

In [2]:
def carga_formato_independientes_EHIS(dict_archivos):
    
    PAISES_ESTUDIO = {'Austria','Belgium','Bulgaria','Croatia','Cyprus','Czechia','Denmark','Estonia','Finland','France', \
                     'Germany (until 1990 former territory of the FRG)','Greece','Hungary','Iceland','Ireland','Italy', \
                     'Latvia','Lithuania','Luxembourg','Malta','Netherlands','Norway','Poland','Portugal','Romania', \
                     'Slovakia','Slovenia','Spain','Sweden','Turkey','United Kingdom'}

    # inicialización variables necesarias
    lista_fallos = []
    n_var_indep = 0
    total_var_indep = len(dict_archivos)
    
    
    # carga del archivo original (Eurostat), procesado, comprobación y guardado en su caso
    # del archivo correspondiente a cada variable
    
    for var_indep,archivo in dict_archivos.items():
        
        #inicialización y carga archivo
        n_var_indep +=1
        ruta = os.path.join('.\data\origen',archivo[0])
        print('#'*30)
        print('CARGANDO ARCHIVO {} EN DF ({} de {}) ...'.format(ruta,n_var_indep,total_var_indep))
        print('#'*30,'\n'*2)
        
        df_varind = pd.read_csv(ruta, na_values = [': u',':'])
        
        print(df_varind.info(),'\n'*2)
        print(df_varind.head(),'\n'*2)
        
        # Eliminar columnas no necesarias
        print('Eliminamos columnas innecesarias ...')
        df_varind.drop(columns= ['UNIT', 'TIME','ISCED11','Flag and Footnotes'], inplace=True)
        print('Columnas que quedan: ', df_varind.columns.values,'\n')
        
        # reordenamos columnas para formato común
        print('Reordenamos columnas ...')
        df_varind = df_varind[['GEO','SEX','AGE',archivo[1],'Value']]
        print('Columnas quedan: ', df_varind.columns.values,'\n')
        
        # comprobación dimensiones correctas
        print('Comprobando longitud dimensiones ...','\n'*2)
        unicos_GEO,unicos_SEX,unicos_AGE = len(df_varind.GEO.unique()),len(df_varind.SEX.unique()),len(df_varind.AGE.unique())
        print('GEO nº valores unicos: {}'.format(unicos_GEO),'\n')
        print('DIFERENCIA: ', PAISES_ESTUDIO-set(df_varind.GEO.unique()),'\n')
        print('SEX nº valores unicos: {}'.format(unicos_SEX),'\n',df_varind.SEX.unique(),'\n')
        print('AGE nº valores unicos: {}'.format(unicos_AGE),'\n',df_varind.AGE.unique(),'\n'*2)
        salto = unicos_GEO*unicos_SEX*unicos_AGE
                
        # Pivotaje: columna de la variable (pasada como argumento) y columna 'Value'
        print('Empezando proceso de formato, aplicando pivot ...','\n'*2)
        dftemp = df_varind.copy()
        dftemp.reset_index(inplace=True)
        dftemp_ancho = dftemp.pivot(index='index',columns=archivo[1],values='Value')
        print('Columnas temporal ancho son: ', dftemp_ancho.columns.values,'\n'*2)
        print('DF del pivote:','\n'*2)
        print(dftemp_ancho,'\n'*2)
        
        print('Imponemos mismo orden categorias de la independiente que en el archivo original','\n', \
              '(metodo "pivot" los reordena por alfabetico) ...','\n'*2)
        dftemp_ancho = dftemp_ancho[archivo[2]]
        print('DF del pivote reordenado:','\n'*2)
        
        # comprobación correspondencia archivo original
        print(dftemp_ancho, '\n'*2,'Comprobamos correspondencia con el original....','\n')
        dfmuestratemp_ancho = dftemp_ancho.sample(n=10)
        dfmuestratemp_ancho['correspondencia'] = df_varind.loc[dfmuestratemp_ancho.index,archivo[1]]
        print(dfmuestratemp_ancho,'\n'*2)
        
        
        # CREACIÓN DATASET DE SALIDA
        
        # columnas dimensiones
        print('Creando DF de salida de la variable (columnas con categorias var indep) ...','\n'*2)
        df_salida = df_varind.loc[0:salto-1,['GEO','SEX','AGE']]
        
        lista_cat_indep = dftemp_ancho.columns.values
        lista_prefijo_varindep = [var_indep+'_']*len(lista_cat_indep)
        
        # formato nombres columnas
        columnas_categ_indep =[]
        for prefijo,sufijo in zip(lista_prefijo_varindep,lista_cat_indep):
            columnas_categ_indep.append(prefijo+sufijo)
        #DEBUG
        #print('DEBUG:\n','Columnas categoricas independientes:')
        #print(columnas_categ_indep,'\n'*2)
              
        # inicialización comprobación
        inicio = 0
        columna_suma_porc = pd.Series(data=0,index=df_salida.index)        
        #DEBUG
        #print('DEBUG:\n','inicializacion columna suma porc:')
        #print('Valores unicos:',columna_suma_porc.unique(),'Longitud:',len(columna_suma_porc),'\n'*2)
        
        # una columna por cada categoría, adecuación a partir del proceso 'pivotaje'
        for n,columna in enumerate(columnas_categ_indep):            
            df_salida[columna] = dftemp_ancho.loc[inicio:inicio+salto-1,lista_cat_indep[n]].values
            inicio = inicio + salto
            columna_suma_porc = columna_suma_porc + df_salida[columna]
            
        print(df_salida.info(),'\n'*2, df_salida.head(),'\n'*2)
        
        
        # salidas comprobaciones
        
        print('Comprobacion: suma de porcentajes, valores unicos...','\n',columna_suma_porc.unique(),'\n'*2)
        
        print('Ultima comprobacion: cotejo con el original...','\n'*2)
        
        print('Muestra DF procesado...','\n'*2)
        df_cotejo = df_salida.sample(n=5)
        print(df_cotejo,'\n'*2)
        
        print('Buscando valores correspondientes en el archivo ORIGINAL:','\n'*2)
        for registro in df_cotejo.itertuples():
            print(df_varind[(df_varind.GEO==registro.GEO) & (df_varind.SEX==registro.SEX) & (df_varind.AGE==registro.AGE)])
            print('\n')
                         
        
        # opción de guardar o no según comprobación
        if str.upper(input('Pausa comprobación, pulsa "S" si correcto:\t')) == 'S':
            
            # guardado archivo (dimensiones + 1 columna por categoria con sus valores)
            
            print('{} procesado con exito ...'.format(var_indep))
            nombre_guardar = 'base_' + var_indep + '.csv'
            guardar_ruta = os.path.join('.\data\procesado', nombre_guardar)
            df_salida.to_csv(guardar_ruta, index=False)
            print('{} guardado como {}.'.format(var_indep,guardar_ruta),'\n'*2)
            
        else:
            
            # salida con los errores
            
            lista_fallos.append(var_indep)
            print('{} no es correcto.'.format(var_indep))
            
    
    # salida final
    print('Procesado no dio resultado en {} de {}'.format(len(lista_fallos),total_var_indep))
    print(lista_fallos)

### Llamada a la función

In [3]:
variables = {'DailyFyV': ('hlth_ehis_fv3e_1_Data.csv','N_PORTION',["0 portions","From 1 to 4 portions","5 portions or more"]), \
             'smoking': ('hlth_ehis_sk1e_1_Data.csv',"SMOKING",["Non-smoker","Daily smoker", "Occasional smoker"]), \
            'Freq_alcohol': ('hlth_ehis_al1e_1_Data.csv',"FREQUENC",["Every day","Every week","Every month", \
                                                                "Less than once a month","Never or not in the last 12 months"]), \
            'social_support': ('hlth_ehis_ss1e_1_Data.csv','LEV_PERC',["Strong","Intermediate","Poor"]), \
            'BMI': ('hlth_ehis_bm1e_1_Data.csv',"BMI",["Underweight","Normal","Overweight"]), \
            'Weekly_phys_actv': ('hlth_ehis_pe2e_1_Data.csv',"DURATION",["Zero minutes","From 1 to 149 minutes", \
                                                                        "From 150 to 299 minutes","300 minutes or over"])}

In [4]:
carga_formato_independientes_EHIS(variables)

##############################
CARGANDO ARCHIVO .\data\origen\hlth_ehis_fv3e_1_Data.csv EN DF (1 de 6) ...
##############################


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 9 columns):
N_PORTION             930 non-null object
GEO                   930 non-null object
UNIT                  930 non-null object
TIME                  930 non-null int64
ISCED11               930 non-null object
SEX                   930 non-null object
AGE                   930 non-null object
Value                 930 non-null float64
Flag and Footnotes    0 non-null float64
dtypes: float64(2), int64(1), object(6)
memory usage: 65.5+ KB
None


    N_PORTION      GEO        UNIT  TIME                 ISCED11    SEX  \
0  0 portions  Belgium  Percentage  2014  All ISCED 2011 levels   Males
1  0 portions  Belgium  Percentage  2014  All ISCED 2011 levels   Males
2  0 portions  Belgium  Percentage  2014  All ISCED 2011 levels   Males
3  0 portions  Belgium  Percentage  2014  All ISCED 2011 levels   Males
4  0 portions  Belgium  Percentage  2014  All ISCED 2011 levels   Males

                   AGE  Value  Flag and Footnotes
0  From 15 to 24 years   25.4                 NaN
1  From 25 to 34 years   26.3                 NaN
2  From 35 to 44 years   19.7                 NaN
3  From 45 to 64 years   18.3                 NaN
4     65 years or over   11.8                 NaN


Eliminamos columnas innecesarias ...
Columnas que quedan:  ['N_PORTION' 'GEO' 'SEX' 'AGE' 'Value']

Reordenamos columnas ...
Columnas quedan:  ['GEO' 'SEX' 'AGE' 'N_PORTION' 'Value']

Comprobando longitud dimensiones ...


GEO nº valores unicos: 31

DIFERENCIA:  set()

SEX nº valores unicos: 2
 ['Males' 'Females']

AGE nº valores unicos: 5
 ['From 15 to 24 years' 'From 25 to 34 years' 'From 35 to 44 years'
 'From 45 to 64 years' '65 years or over']


Empezando proceso de formato, aplicando pivot ...


Columnas temporal ancho son:  ['0 portions' '5 portions or more' 'From 1 to 4 portions']


DF del pivote:


N_PORTION  0 portions  5 portions or more  From 1 to 4 portions
index
0                25.4                 NaN                   NaN
1                26.3                 NaN                   NaN
2                19.7                 NaN                   NaN
3                18.3                 NaN                   NaN
4                11.8                 NaN                   NaN
...               ...                 ...                   ...
925               NaN                 2.5                   NaN
926               NaN                 2.3                   NaN
927               NaN                 3.9                   NaN
928               NaN                 3.7                   NaN
929               NaN                 2.6                   NaN

[930 rows x 3 columns]


Imponemos mismo orden categorias de la independiente que en el archivo original
 (metodo "pivot" los reordena por alfabetico) ...


DF del pivote reordenado:


N_PORTION  0 portions  From 1 to 4 portions  5 portions or more
index
0                25.4                   NaN                 NaN
1                26.3                   NaN                 NaN
2                19.7                   NaN                 NaN
3                18.3                   NaN                 NaN
4                11.8                   NaN                 NaN
...               ...                   ...                 ...
925               NaN                   NaN                 2.5
926               NaN                   NaN                 2.3
927               NaN                   NaN                 3.9
928               NaN                   NaN                 3.7
929               NaN                   NaN                 2.6

[930 rows x 3 columns]

 Comprobamos correspondencia con el original....

N_PORTION  0 portions  From 1 to 4 portions  5 portions or more  \
index
320               NaN                  34.6                 NaN
585               NaN                  39.6                 NaN
826               NaN                   NaN                12.0
126              35.2                   NaN                 NaN
443               NaN                  35.7                 NaN
193              40.4                   NaN                 NaN
477               NaN                  60.9                 NaN
780               NaN                   NaN                 7.4
273              27.7                   NaN                 NaN
131              59.0                   NaN                 NaN

N_PORTION       correspondencia
index
320        From 1 to 4 portions
585        From 1 to 4 portions
826          5 portions or more
126                  0 portions
443        From 1 to 4 portions
193                  0 portions
477        From 1 to 4 portions
780          5 portions or more
273                  0 portions
131                  0 portions


Creando DF de salida de la variable (columnas con categorias var indep) ...


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 6 columns):
GEO                              310 non-null object
SEX                              310 non-null object
AGE                              310 non-null object
DailyFyV_0 portions              310 non-null float64
DailyFyV_From 1 to 4 portions    310 non-null float64
DailyFyV_5 portions or more      310 non-null float64
dtypes: float64(3), object(3)
memory usage: 14.7+ KB
None

        GEO    SEX                  AGE  DailyFyV_0 portions  \
0  Belgium  Males  From 15 to 24 years                 25.4
1  Belgium  Males  From 25 to 34 years                 26.3
2  Belgium  Males  From 35 to 44 years                 19.7
3  Belgium  Males  From 45 to 64 years                 18.3
4  Belgium  Males     65 years or over                 11.8

   DailyFyV_From 1 to 4 portions  DailyFyV_5 portions or more
0                           64.6                         10.0
1                           65.5                          8.2
2                           69.3                         11.0
3                           70.1                         11.6
4                           76.0                         12.2


Comprobacion: suma de porcentajes, valores unicos...
 [100.  100.  100.1  99.9  99.9 100.  100.1]


Ultima comprobacion: cotejo con el original...


Muestra DF procesado...


            GEO      SEX                  AGE  DailyFyV_0 portions  \
158  Luxembourg  Females  From 45 to 64 years                 22.7
142   Lithuania    Males  From 35 to 44 years                 51.3
23      Czechia    Males  From 45 to 64 years                 53.8
27      Czechia  Females  From 35 to 44 years                 38.9
38      Denmark  Females  From 45 to 64 years                 24.3

     DailyFyV_From 1 to 4 portions  DailyFyV_5 portions or more
158                           57.7                         19.6
142                           38.2                         10.5
23                            41.3                          5.0
27                            48.1                         13.0
38                            40.2                         35.5


Buscando valores correspondientes en el archivo ORIGINAL:


            GEO      SEX                  AGE             N_PORTION  Value
158  Luxembourg  Females  From 45 to 64 years            0 portions   22.7
468  Luxembourg  Females  From 45 to 64 years  From 1 to 4 portions   57.7
778  Luxembourg  Females  From 45 to 64 years    5 portions or more   19.6


           GEO    SEX                  AGE             N_PORTION  Value
142  Lithuania  Males  From 35 to 44 years            0 portions   51.3
452  Lithuania  Males  From 35 to 44 years  From 1 to 4 portions   38.2
762  Lithuania  Males  From 35 to 44 years    5 portions or more   10.5


         GEO    SEX                  AGE             N_PORTION  Value
23   Czechia  Males  From 45 to 64 years            0 portions   53.8
333  Czechia  Males  From 45 to 64 years  From 1 to 4 portions   41.3
643  Czechia  Males  From 45 to 64 years    5 portions or more    5.0


         GEO      SEX                  AGE             N_PORTION  Value
27   Czechia  Females  From 35 to 44 years            0 portions   38.9
337  Czechia  Females  From 35 to 44 years  From 1 to 4 portions   48.1
647  Czechia  Females  From 35 to 44 years    5 portions or more   13.0


         GEO      SEX                  AGE             N_PORTION  Value
38   Denmark  Females  From 45 to 64 years            0 portions   24.3
348  Denmark  Females  From 45 to 64 years  From 1 to 4 portions   40.2
658  Denmark  Females  From 45 to 64 years    5 portions or more   35.5

Pausa comprobación, pulsa "S" si correcto:	s
DailyFyV procesado con exito ...
DailyFyV guardado como .\data\procesado\base_DailyFyV.csv.


##############################
CARGANDO ARCHIVO .\data\origen\hlth_ehis_sk1e_1_Data.csv EN DF (2 de 6) ...
##############################


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 9 columns):
SMOKING               930 non-null object
GEO                   930 non-null object
UNIT                  930 non-null object
ISCED11               930 non-null object
SEX                   930 non-null object
AGE                   930 non-null object
TIME                  930 non-null int64
Value                 930 non-null float64
Flag and Footnotes    30 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 65.5+ KB
None


      SMOKING      GEO        UNIT                 ISCED11    SEX  \
0  Non-smoker  Belgium  Percentage  All ISCED 2011 levels   Males
1  Non-smoker  Belgium  Percentage  All ISCED 2011 levels   Males
2  Non-smoker  Belgium  Percentage  All ISCED 2011 levels   Males
3  Non-smoker  Belgium  Percentage  All ISCED 2011 levels   Males
4  Non-smoker  Belgium  Percentage  All ISCED 2011 levels   Males

                   AGE  TIME  Value Flag and Footnotes
0  From 15 to 24 years  2014   78.9                  u
1  From 25 to 34 years  2014   66.7                  u
2  From 35 to 44 years  2014   67.1                  u
3  From 45 to 64 years  2014   72.3                  u
4     65 years or over  2014   84.8                  u


Eliminamos columnas innecesarias ...
Columnas que quedan:  ['SMOKING' 'GEO' 'SEX' 'AGE' 'Value']

Reordenamos columnas ...
Columnas quedan:  ['GEO' 'SEX' 'AGE' 'SMOKING' 'Value']

Comprobando longitud dimensiones ...


GEO nº valores unicos: 31

DIFERENCIA:  set()

SEX nº valores unicos: 2
 ['Males' 'Females']

AGE nº valores unicos: 5
 ['From 15 to 24 years' 'From 25 to 34 years' 'From 35 to 44 years'
 'From 45 to 64 years' '65 years or over']


Empezando proceso de formato, aplicando pivot ...


Columnas temporal ancho son:  ['Daily smoker' 'Non-smoker' 'Occasional smoker']


DF del pivote:


SMOKING  Daily smoker  Non-smoker  Occasional smoker
index
0                 NaN        78.9                NaN
1                 NaN        66.7                NaN
2                 NaN        67.1                NaN
3                 NaN        72.3                NaN
4                 NaN        84.8                NaN
...               ...         ...                ...
925               NaN         NaN                3.7
926               NaN         NaN                6.5
927               NaN         NaN                6.8
928               NaN         NaN                4.2
929               NaN         NaN                1.9

[930 rows x 3 columns]


Imponemos mismo orden categorias de la independiente que en el archivo original
 (metodo "pivot" los reordena por alfabetico) ...


DF del pivote reordenado:


SMOKING  Non-smoker  Daily smoker  Occasional smoker
index
0              78.9           NaN                NaN
1              66.7           NaN                NaN
2              67.1           NaN                NaN
3              72.3           NaN                NaN
4              84.8           NaN                NaN
...             ...           ...                ...
925             NaN           NaN                3.7
926             NaN           NaN                6.5
927             NaN           NaN                6.8
928             NaN           NaN                4.2
929             NaN           NaN                1.9

[930 rows x 3 columns]

 Comprobamos correspondencia con el original....

SMOKING  Non-smoker  Daily smoker  Occasional smoker    correspondencia
index
831             NaN           NaN                7.9  Occasional smoker
744             NaN           NaN                0.4  Occasional smoker
448             NaN          17.8                NaN       Daily smoker
559             NaN           4.2                NaN       Daily smoker
457             NaN          15.4                NaN       Daily smoker
160            63.7           NaN                NaN         Non-smoker
198            69.5           NaN                NaN         Non-smoker
896             NaN           NaN                4.4  Occasional smoker
675             NaN           NaN                5.1  Occasional smoker
257            83.3           NaN                NaN         Non-smoker


Creando DF de salida de la variable (columnas con categorias var indep) ...


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 6 columns):
GEO                          310 non-null object
SEX                          310 non-null object
AGE                          310 non-null object
smoking_Non-smoker           310 non-null float64
smoking_Daily smoker         310 non-null float64
smoking_Occasional smoker    310 non-null float64
dtypes: float64(3), object(3)
memory usage: 14.7+ KB
None

        GEO    SEX                  AGE  smoking_Non-smoker  \
0  Belgium  Males  From 15 to 24 years                78.9
1  Belgium  Males  From 25 to 34 years                66.7
2  Belgium  Males  From 35 to 44 years                67.1
3  Belgium  Males  From 45 to 64 years                72.3
4  Belgium  Males     65 years or over                84.8

   smoking_Daily smoker  smoking_Occasional smoker
0                  15.4                        5.7
1                  26.2                        7.1
2                  26.9                        6.0
3                  23.8                        3.9
4                  12.9                        2.3


Comprobacion: suma de porcentajes, valores unicos...
 [100.  100.  100.  100.1 100.1  99.9  99.9]


Ultima comprobacion: cotejo con el original...


Muestra DF procesado...


                                                  GEO      SEX  \
20                                            Czechia    Males
97                                             France  Females
94                                             France    Males
48   Germany (until 1990 former territory of the FRG)  Females
130                                            Latvia    Males

                     AGE  smoking_Non-smoker  smoking_Daily smoker  \
20   From 15 to 24 years                62.6                  23.8
97   From 35 to 44 years                66.0                  28.4
94      65 years or over                88.6                   8.5
48   From 45 to 64 years                77.5                  18.1
130  From 15 to 24 years                63.9                  25.2

     smoking_Occasional smoker
20                        13.6
97                         5.6
94                         3.0
48                         4.4
130                       11.0


Buscando valores correspondientes en el archivo ORIGINAL:


         GEO    SEX                  AGE            SMOKING  Value
20   Czechia  Males  From 15 to 24 years         Non-smoker   62.6
330  Czechia  Males  From 15 to 24 years       Daily smoker   23.8
640  Czechia  Males  From 15 to 24 years  Occasional smoker   13.6


        GEO      SEX                  AGE            SMOKING  Value
97   France  Females  From 35 to 44 years         Non-smoker   66.0
407  France  Females  From 35 to 44 years       Daily smoker   28.4
717  France  Females  From 35 to 44 years  Occasional smoker    5.6


        GEO    SEX               AGE            SMOKING  Value
94   France  Males  65 years or over         Non-smoker   88.6
404  France  Males  65 years or over       Daily smoker    8.5
714  France  Males  65 years or over  Occasional smoker    3.0


                                                  GEO      SEX  \
48   Germany (until 1990 former territory of the FRG)  Females
358  Germany (until 1990 former territory of the FRG)  Females
668  Germany (until 1990 former territory of the FRG)  Females

                     AGE            SMOKING  Value
48   From 45 to 64 years         Non-smoker   77.5
358  From 45 to 64 years       Daily smoker   18.1
668  From 45 to 64 years  Occasional smoker    4.4


        GEO    SEX                  AGE            SMOKING  Value
130  Latvia  Males  From 15 to 24 years         Non-smoker   63.9
440  Latvia  Males  From 15 to 24 years       Daily smoker   25.2
750  Latvia  Males  From 15 to 24 years  Occasional smoker   11.0

Pausa comprobación, pulsa "S" si correcto:	s
smoking procesado con exito ...
smoking guardado como .\data\procesado\base_smoking.csv.


##############################
CARGANDO ARCHIVO .\data\origen\hlth_ehis_al1e_1_Data.csv EN DF (3 de 6) ...
##############################


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 9 columns):
FREQUENC              1450 non-null object
GEO                   1450 non-null object
UNIT                  1450 non-null object
TIME                  1450 non-null int64
ISCED11               1450 non-null object
SEX                   1450 non-null object
AGE                   1450 non-null object
Value                 1450 non-null float64
Flag and Footnotes    85 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 102.1+ KB
None


    FREQUENC      GEO        UNIT  TIME                 ISCED11    SEX  \
0  Every day  Belgium  Percentage  2014  All ISCED 2011 levels   Males
1  Every day  Belgium  Percentage  2014  All ISCED 2011 levels   Males
2  Every day  Belgium  Percentage  2014  All ISCED 2011 levels   Males
3  Every day  Belgium  Percentage  2014  All ISCED 2011 levels   Males
4  Every day  Belgium  Percentage  2014  All ISCED 2011 levels   Males

                   AGE  Value Flag and Footnotes
0  From 15 to 24 years    2.0                  u
1  From 25 to 34 years    8.5                  u
2  From 35 to 44 years   13.5                  u
3  From 45 to 64 years   25.3                  u
4     65 years or over   30.3                  u


Eliminamos columnas innecesarias ...
Columnas que quedan:  ['FREQUENC' 'GEO' 'SEX' 'AGE' 'Value']

Reordenamos columnas ...
Columnas quedan:  ['GEO' 'SEX' 'AGE' 'FREQUENC' 'Value']

Comprobando longitud dimensiones ...


GEO nº valores unicos: 29

DIFERENCIA:  {'France', 'Netherlands'}

SEX nº valores unicos: 2
 ['Males' 'Females']

AGE nº valores unicos: 5
 ['From 15 to 24 years' 'From 25 to 34 years' 'From 35 to 44 years'
 'From 45 to 64 years' '65 years or over']


Empezando proceso de formato, aplicando pivot ...


Columnas temporal ancho son:  ['Every day' 'Every month' 'Every week' 'Less than once a month'
 'Never or not in the last 12 months']


DF del pivote:


FREQUENC  Every day  Every month  Every week  Less than once a month  \
index
0               2.0          NaN         NaN                     NaN
1               8.5          NaN         NaN                     NaN
2              13.5          NaN         NaN                     NaN
3              25.3          NaN         NaN                     NaN
4              30.3          NaN         NaN                     NaN
...             ...          ...         ...                     ...
1445            NaN          NaN         NaN                     NaN
1446            NaN          NaN         NaN                     NaN
1447            NaN          NaN         NaN                     NaN
1448            NaN          NaN         NaN                     NaN
1449            NaN          NaN         NaN                     NaN

FREQUENC  Never or not in the last 12 months
index
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
...                                      ...
1445                                    94.2
1446                                    90.0
1447                                    93.3
1448                                    96.1
1449                                    99.0

[1450 rows x 5 columns]


Imponemos mismo orden categorias de la independiente que en el archivo original
 (metodo "pivot" los reordena por alfabetico) ...


DF del pivote reordenado:


FREQUENC  Every day  Every week  Every month  Less than once a month  \
index
0               2.0         NaN          NaN                     NaN
1               8.5         NaN          NaN                     NaN
2              13.5         NaN          NaN                     NaN
3              25.3         NaN          NaN                     NaN
4              30.3         NaN          NaN                     NaN
...             ...         ...          ...                     ...
1445            NaN         NaN          NaN                     NaN
1446            NaN         NaN          NaN                     NaN
1447            NaN         NaN          NaN                     NaN
1448            NaN         NaN          NaN                     NaN
1449            NaN         NaN          NaN                     NaN

FREQUENC  Never or not in the last 12 months
index
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
...                                      ...
1445                                    94.2
1446                                    90.0
1447                                    93.3
1448                                    96.1
1449                                    99.0

[1450 rows x 5 columns]

 Comprobamos correspondencia con el original....

FREQUENC  Every day  Every week  Every month  Less than once a month  \
index
1032            NaN         NaN          NaN                    12.6
715             NaN         NaN         31.7                     NaN
531             NaN        36.3          NaN                     NaN
1067            NaN         NaN          NaN                    18.0
343             NaN        28.9          NaN                     NaN
810             NaN         NaN         40.0                     NaN
129             0.1         NaN          NaN                     NaN
676             NaN         NaN         21.9                     NaN
525             NaN        19.2          NaN                     NaN
1251            NaN         NaN          NaN                     NaN

FREQUENC  Never or not in the last 12 months  \
index
1032                                     NaN
715                                      NaN
531                                      NaN
1067                                     NaN
343                                      NaN
810                                      NaN
129                                      NaN
676                                      NaN
525                                      NaN
1251                                    25.2

FREQUENC                     correspondencia
index
1032                  Less than once a month
715                              Every month
531                               Every week
1067                  Less than once a month
343                               Every week
810                              Every month
129                                Every day
676                              Every month
525                               Every week
1251      Never or not in the last 12 months


Creando DF de salida de la variable (columnas con categorias var indep) ...


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 8 columns):
GEO                                                290 non-null object
SEX                                                290 non-null object
AGE                                                290 non-null object
Freq_alcohol_Every day                             290 non-null float64
Freq_alcohol_Every week                            290 non-null float64
Freq_alcohol_Every month                           290 non-null float64
Freq_alcohol_Less than once a month                290 non-null float64
Freq_alcohol_Never or not in the last 12 months    290 non-null float64
dtypes: float64(5), object(3)
memory usage: 18.2+ KB
None

        GEO    SEX                  AGE  Freq_alcohol_Every day  \
0  Belgium  Males  From 15 to 24 years                     2.0
1  Belgium  Males  From 25 to 34 years                     8.5
2  Belgium  Males  From 35 to 44 years                    13.5
3  Belgium  Males  From 45 to 64 years                    25.3
4  Belgium  Males     65 years or over                    30.3

   Freq_alcohol_Every week  Freq_alcohol_Every month  \
0                     45.4                      22.7
1                     49.0                      21.3
2                     53.3                      16.5
3                     44.9                      14.8
4                     34.1                      11.0

   Freq_alcohol_Less than once a month  \
0                                  8.0
1                                  7.9
2                                  4.6
3                                  5.2
4                                  7.6

   Freq_alcohol_Never or not in the last 12 months
0                                             21.9
1                                             13.3
2                                             12.1
3                                              9.8
4                                             17.0


Comprobacion: suma de porcentajes, valores unicos...
 [100.  100.  100.  100.1  99.9  99.9 100.1 100.1  99.9 100.2]


Ultima comprobacion: cotejo con el original...


Muestra DF procesado...


            GEO      SEX                  AGE  Freq_alcohol_Every day  \
60      Ireland    Males  From 15 to 24 years                     0.0
225    Slovakia  Females  From 15 to 24 years                     0.2
277      Norway  Females  From 35 to 44 years                     0.9
149  Luxembourg  Females     65 years or over                    12.8
165       Malta  Females  From 15 to 24 years                     0.0

     Freq_alcohol_Every week  Freq_alcohol_Every month  \
60                      33.2                      31.5
225                      6.4                      28.7
277                     23.7                      54.9
149                     30.7                      20.1
165                     34.4                      34.4

     Freq_alcohol_Less than once a month  \
60                                   9.5
225                                 22.0
277                                  0.0
149                                  7.6
165                                 11.6

     Freq_alcohol_Never or not in the last 12 months
60                                              25.8
225                                             42.7
277                                             20.5
149                                             28.8
165                                             19.6


Buscando valores correspondientes en el archivo ORIGINAL:


          GEO    SEX                  AGE                            FREQUENC  \
60    Ireland  Males  From 15 to 24 years                           Every day
350   Ireland  Males  From 15 to 24 years                          Every week
640   Ireland  Males  From 15 to 24 years                         Every month
930   Ireland  Males  From 15 to 24 years              Less than once a month
1220  Ireland  Males  From 15 to 24 years  Never or not in the last 12 months

      Value
60      0.0
350    33.2
640    31.5
930     9.5
1220   25.8


           GEO      SEX                  AGE  \
225   Slovakia  Females  From 15 to 24 years
515   Slovakia  Females  From 15 to 24 years
805   Slovakia  Females  From 15 to 24 years
1095  Slovakia  Females  From 15 to 24 years
1385  Slovakia  Females  From 15 to 24 years

                                FREQUENC  Value
225                            Every day    0.2
515                           Every week    6.4
805                          Every month   28.7
1095              Less than once a month   22.0
1385  Never or not in the last 12 months   42.7


         GEO      SEX                  AGE  \
277   Norway  Females  From 35 to 44 years
567   Norway  Females  From 35 to 44 years
857   Norway  Females  From 35 to 44 years
1147  Norway  Females  From 35 to 44 years
1437  Norway  Females  From 35 to 44 years

                                FREQUENC  Value
277                            Every day    0.9
567                           Every week   23.7
857                          Every month   54.9
1147              Less than once a month    0.0
1437  Never or not in the last 12 months   20.5


             GEO      SEX               AGE  \
149   Luxembourg  Females  65 years or over
439   Luxembourg  Females  65 years or over
729   Luxembourg  Females  65 years or over
1019  Luxembourg  Females  65 years or over
1309  Luxembourg  Females  65 years or over

                                FREQUENC  Value
149                            Every day   12.8
439                           Every week   30.7
729                          Every month   20.1
1019              Less than once a month    7.6
1309  Never or not in the last 12 months   28.8


        GEO      SEX                  AGE                            FREQUENC  \
165   Malta  Females  From 15 to 24 years                           Every day
455   Malta  Females  From 15 to 24 years                          Every week
745   Malta  Females  From 15 to 24 years                         Every month
1035  Malta  Females  From 15 to 24 years              Less than once a month
1325  Malta  Females  From 15 to 24 years  Never or not in the last 12 months

      Value
165     0.0
455    34.4
745    34.4
1035   11.6
1325   19.6

Pausa comprobación, pulsa "S" si correcto:	s
Freq_alcohol procesado con exito ...
Freq_alcohol guardado como .\data\procesado\base_Freq_alcohol.csv.


##############################
CARGANDO ARCHIVO .\data\origen\hlth_ehis_ss1e_1_Data.csv EN DF (4 de 6) ...
##############################


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 9 columns):
LEV_PERC              930 non-null object
GEO                   930 non-null object
UNIT                  930 non-null object
TIME                  930 non-null int64
ISCED11               930 non-null object
SEX                   930 non-null object
AGE                   930 non-null object
Value                 930 non-null float64
Flag and Footnotes    27 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 65.5+ KB
None


  LEV_PERC      GEO        UNIT  TIME                 ISCED11    SEX  \
0   Strong  Belgium  Percentage  2014  All ISCED 2011 levels   Males
1   Strong  Belgium  Percentage  2014  All ISCED 2011 levels   Males
2   Strong  Belgium  Percentage  2014  All ISCED 2011 levels   Males
3   Strong  Belgium  Percentage  2014  All ISCED 2011 levels   Males
4   Strong  Belgium  Percentage  2014  All ISCED 2011 levels   Males

                   AGE  Value Flag and Footnotes
0  From 15 to 24 years   39.2                  u
1  From 25 to 34 years   33.8                  u
2  From 35 to 44 years   29.8                  u
3  From 45 to 64 years   29.6                  u
4     65 years or over   29.3                  u


Eliminamos columnas innecesarias ...
Columnas que quedan:  ['LEV_PERC' 'GEO' 'SEX' 'AGE' 'Value']

Reordenamos columnas ...
Columnas quedan:  ['GEO' 'SEX' 'AGE' 'LEV_PERC' 'Value']

Comprobando longitud dimensiones ...


GEO nº valores unicos: 31

DIFERENCIA:  set()

SEX nº valores unicos: 2
 ['Males' 'Females']

AGE nº valores unicos: 5
 ['From 15 to 24 years' 'From 25 to 34 years' 'From 35 to 44 years'
 'From 45 to 64 years' '65 years or over']


Empezando proceso de formato, aplicando pivot ...


Columnas temporal ancho son:  ['Intermediate' 'Poor' 'Strong']


DF del pivote:


LEV_PERC  Intermediate  Poor  Strong
index
0                  NaN   NaN    39.2
1                  NaN   NaN    33.8
2                  NaN   NaN    29.8
3                  NaN   NaN    29.6
4                  NaN   NaN    29.3
...                ...   ...     ...
925                NaN  17.0     NaN
926                NaN  18.6     NaN
927                NaN  18.7     NaN
928                NaN  18.2     NaN
929                NaN  23.1     NaN

[930 rows x 3 columns]


Imponemos mismo orden categorias de la independiente que en el archivo original
 (metodo "pivot" los reordena por alfabetico) ...


DF del pivote reordenado:


LEV_PERC  Strong  Intermediate  Poor
index
0           39.2           NaN   NaN
1           33.8           NaN   NaN
2           29.8           NaN   NaN
3           29.6           NaN   NaN
4           29.3           NaN   NaN
...          ...           ...   ...
925          NaN           NaN  17.0
926          NaN           NaN  18.6
927          NaN           NaN  18.7
928          NaN           NaN  18.2
929          NaN           NaN  23.1

[930 rows x 3 columns]

 Comprobamos correspondencia con el original....

LEV_PERC  Strong  Intermediate  Poor correspondencia
index
307         24.5           NaN   NaN          Strong
919          NaN           NaN  10.7            Poor
403          NaN          55.5   NaN    Intermediate
705          NaN           NaN   2.3            Poor
634          NaN           NaN  21.1            Poor
456          NaN          59.3   NaN    Intermediate
808          NaN           NaN  20.0            Poor
284         65.6           NaN   NaN          Strong
247         17.8           NaN   NaN          Strong
727          NaN           NaN   9.8            Poor


Creando DF de salida de la variable (columnas con categorias var indep) ...


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 6 columns):
GEO                            310 non-null object
SEX                            310 non-null object
AGE                            310 non-null object
social_support_Strong          310 non-null float64
social_support_Intermediate    310 non-null float64
social_support_Poor            310 non-null float64
dtypes: float64(3), object(3)
memory usage: 14.7+ KB
None

        GEO    SEX                  AGE  social_support_Strong  \
0  Belgium  Males  From 15 to 24 years                   39.2
1  Belgium  Males  From 25 to 34 years                   33.8
2  Belgium  Males  From 35 to 44 years                   29.8
3  Belgium  Males  From 45 to 64 years                   29.6
4  Belgium  Males     65 years or over                   29.3

   social_support_Intermediate  social_support_Poor
0                         49.2                 11.5
1                         51.5                 14.7
2                         52.4                 17.7
3                         50.0                 20.4
4                         51.5                 19.1


Comprobacion: suma de porcentajes, valores unicos...
 [ 99.9 100.  100.  100.  100.1 100.1  99.9]


Ultima comprobacion: cotejo con el original...


Muestra DF procesado...


          GEO      SEX                  AGE  social_support_Strong  \
269    Sweden  Females     65 years or over                   34.0
218  Portugal  Females  From 45 to 64 years                   32.7
284   Iceland    Males     65 years or over                   65.6
114     Italy    Males     65 years or over                   26.0
87      Spain  Females  From 35 to 44 years                   61.5

     social_support_Intermediate  social_support_Poor
269                         50.9                 15.1
218                         53.2                 14.1
284                         29.8                  4.6
114                         56.1                 17.9
87                          34.1                  4.4


Buscando valores correspondientes en el archivo ORIGINAL:


        GEO      SEX               AGE      LEV_PERC  Value
269  Sweden  Females  65 years or over        Strong   34.0
579  Sweden  Females  65 years or over  Intermediate   50.9
889  Sweden  Females  65 years or over          Poor   15.1


          GEO      SEX                  AGE      LEV_PERC  Value
218  Portugal  Females  From 45 to 64 years        Strong   32.7
528  Portugal  Females  From 45 to 64 years  Intermediate   53.2
838  Portugal  Females  From 45 to 64 years          Poor   14.1


         GEO    SEX               AGE      LEV_PERC  Value
284  Iceland  Males  65 years or over        Strong   65.6
594  Iceland  Males  65 years or over  Intermediate   29.8
904  Iceland  Males  65 years or over          Poor    4.6


       GEO    SEX               AGE      LEV_PERC  Value
114  Italy  Males  65 years or over        Strong   26.0
424  Italy  Males  65 years or over  Intermediate   56.1
734  Italy  Males  65 years or over          Poor   17.9


       GEO      SEX                  AGE      LEV_PERC  Value
87   Spain  Females  From 35 to 44 years        Strong   61.5
397  Spain  Females  From 35 to 44 years  Intermediate   34.1
707  Spain  Females  From 35 to 44 years          Poor    4.4


Pausa comprobación, pulsa "S" si correcto:	s
social_support procesado con exito ...
social_support guardado como .\data\procesado\base_social_support.csv.


##############################
CARGANDO ARCHIVO .\data\origen\hlth_ehis_bm1e_1_Data.csv EN DF (5 de 6) ...
##############################


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 9 columns):
BMI                   930 non-null object
GEO                   930 non-null object
UNIT                  930 non-null object
TIME                  930 non-null int64
ISCED11               930 non-null object
SEX                   930 non-null object
AGE                   930 non-null object
Value                 930 non-null float64
Flag and Footnotes    15 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 65.5+ KB
None


           BMI      GEO        UNIT  TIME                 ISCED11    SEX  \
0  Underweight  Belgium  Percentage  2014  All ISCED 2011 levels   Males
1  Underweight  Belgium  Percentage  2014  All ISCED 2011 levels   Males
2  Underweight  Belgium  Percentage  2014  All ISCED 2011 levels   Males
3  Underweight  Belgium  Percentage  2014  All ISCED 2011 levels   Males
4  Underweight  Belgium  Percentage  2014  All ISCED 2011 levels   Males

                   AGE  Value Flag and Footnotes
0  From 15 to 24 years   11.9                NaN
1  From 25 to 34 years    2.4                NaN
2  From 35 to 44 years    0.3                NaN
3  From 45 to 64 years    0.4                NaN
4     65 years or over    0.6                NaN


Eliminamos columnas innecesarias ...
Columnas que quedan:  ['BMI' 'GEO' 'SEX' 'AGE' 'Value']

Reordenamos columnas ...
Columnas quedan:  ['GEO' 'SEX' 'AGE' 'BMI' 'Value']

Comprobando longitud dimensiones ...


GEO nº valores unicos: 31

DIFERENCIA:  set()

SEX nº valores unicos: 2
 ['Males' 'Females']

AGE nº valores unicos: 5
 ['From 15 to 24 years' 'From 25 to 34 years' 'From 35 to 44 years'
 'From 45 to 64 years' '65 years or over']


Empezando proceso de formato, aplicando pivot ...


Columnas temporal ancho son:  ['Normal' 'Overweight' 'Underweight']


DF del pivote:


BMI    Normal  Overweight  Underweight
index
0         NaN         NaN         11.9
1         NaN         NaN          2.4
2         NaN         NaN          0.3
3         NaN         NaN          0.4
4         NaN         NaN          0.6
...       ...         ...          ...
925       NaN        17.4          NaN
926       NaN        38.7          NaN
927       NaN        63.8          NaN
928       NaN        80.4          NaN
929       NaN        67.4          NaN

[930 rows x 3 columns]


Imponemos mismo orden categorias de la independiente que en el archivo original
 (metodo "pivot" los reordena por alfabetico) ...


DF del pivote reordenado:


BMI    Underweight  Normal  Overweight
index
0             11.9     NaN         NaN
1              2.4     NaN         NaN
2              0.3     NaN         NaN
3              0.4     NaN         NaN
4              0.6     NaN         NaN
...            ...     ...         ...
925            NaN     NaN        17.4
926            NaN     NaN        38.7
927            NaN     NaN        63.8
928            NaN     NaN        80.4
929            NaN     NaN        67.4

[930 rows x 3 columns]

 Comprobamos correspondencia con el original....

BMI    Underweight  Normal  Overweight correspondencia
index
383            NaN    25.3         NaN          Normal
185            8.5     NaN         NaN     Underweight
214            0.4     NaN         NaN     Underweight
148            0.7     NaN         NaN     Underweight
163            1.1     NaN         NaN     Underweight
714            NaN     NaN        67.8      Overweight
384            NaN    27.7         NaN          Normal
840            NaN     NaN        22.8      Overweight
107            2.0     NaN         NaN     Underweight
407            NaN    57.6         NaN          Normal


Creando DF de salida de la variable (columnas con categorias var indep) ...


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 6 columns):
GEO                310 non-null object
SEX                310 non-null object
AGE                310 non-null object
BMI_Underweight    310 non-null float64
BMI_Normal         310 non-null float64
BMI_Overweight     310 non-null float64
dtypes: float64(3), object(3)
memory usage: 14.7+ KB
None

        GEO    SEX                  AGE  BMI_Underweight  BMI_Normal  \
0  Belgium  Males  From 15 to 24 years             11.9        69.4
1  Belgium  Males  From 25 to 34 years              2.4        56.5
2  Belgium  Males  From 35 to 44 years              0.3        45.6
3  Belgium  Males  From 45 to 64 years              0.4        33.8
4  Belgium  Males     65 years or over              0.6        33.7

   BMI_Overweight
0            18.7
1            41.0
2            54.1
3            65.8
4            65.6


Comprobacion: suma de porcentajes, valores unicos...
 [100.   99.9 100.  100.1  99.9 100.1 100. ]


Ultima comprobacion: cotejo con el original...


Muestra DF procesado...


           GEO      SEX                  AGE  BMI_Underweight  BMI_Normal  \
144  Lithuania    Males     65 years or over              0.6        31.4
254    Finland    Males     65 years or over              0.3        35.2
21     Czechia    Males  From 25 to 34 years              0.0        54.4
245   Slovakia  Females  From 15 to 24 years             14.3        74.5
88       Spain  Females  From 45 to 64 years              1.7        48.6

     BMI_Overweight
144            68.0
254            64.5
21             45.6
245            11.2
88             49.6


Buscando valores correspondientes en el archivo ORIGINAL:


           GEO    SEX               AGE          BMI  Value
144  Lithuania  Males  65 years or over  Underweight    0.6
454  Lithuania  Males  65 years or over       Normal   31.4
764  Lithuania  Males  65 years or over   Overweight   68.0


         GEO    SEX               AGE          BMI  Value
254  Finland  Males  65 years or over  Underweight    0.3
564  Finland  Males  65 years or over       Normal   35.2
874  Finland  Males  65 years or over   Overweight   64.5


         GEO    SEX                  AGE          BMI  Value
21   Czechia  Males  From 25 to 34 years  Underweight    0.0
331  Czechia  Males  From 25 to 34 years       Normal   54.4
641  Czechia  Males  From 25 to 34 years   Overweight   45.6


          GEO      SEX                  AGE          BMI  Value
245  Slovakia  Females  From 15 to 24 years  Underweight   14.3
555  Slovakia  Females  From 15 to 24 years       Normal   74.5
865  Slovakia  Females  From 15 to 24 years   Overweight   11.2


       GEO      SEX                  AGE          BMI  Value
88   Spain  Females  From 45 to 64 years  Underweight    1.7
398  Spain  Females  From 45 to 64 years       Normal   48.6
708  Spain  Females  From 45 to 64 years   Overweight   49.6

Pausa comprobación, pulsa "S" si correcto:	s
BMI procesado con exito ...
BMI guardado como .\data\procesado\base_BMI.csv.


##############################
CARGANDO ARCHIVO .\data\origen\hlth_ehis_pe2e_1_Data.csv EN DF (6 de 6) ...
##############################


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 9 columns):
DURATION              1200 non-null object
GEO                   1200 non-null object
UNIT                  1200 non-null object
TIME                  1200 non-null int64
ISCED11               1200 non-null object
SEX                   1200 non-null object
AGE                   1200 non-null object
Value                 1192 non-null float64
Flag and Footnotes    52 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 84.5+ KB
None


       DURATION      GEO        UNIT  TIME                 ISCED11    SEX  \
0  Zero minutes  Belgium  Percentage  2014  All ISCED 2011 levels   Males
1  Zero minutes  Belgium  Percentage  2014  All ISCED 2011 levels   Males
2  Zero minutes  Belgium  Percentage  2014  All ISCED 2011 levels   Males
3  Zero minutes  Belgium  Percentage  2014  All ISCED 2011 levels   Males
4  Zero minutes  Belgium  Percentage  2014  All ISCED 2011 levels   Males

                   AGE  Value Flag and Footnotes
0  From 15 to 24 years   19.7                NaN
1  From 25 to 34 years   37.0                NaN
2  From 35 to 44 years   31.2                NaN
3  From 45 to 64 years   46.0                NaN
4     65 years or over    NaN                NaN


Eliminamos columnas innecesarias ...
Columnas que quedan:  ['DURATION' 'GEO' 'SEX' 'AGE' 'Value']

Reordenamos columnas ...
Columnas quedan:  ['GEO' 'SEX' 'AGE' 'DURATION' 'Value']

Comprobando longitud dimensiones ...


GEO nº valores unicos: 30

DIFERENCIA:  {'Netherlands'}

SEX nº valores unicos: 2
 ['Males' 'Females']

AGE nº valores unicos: 5
 ['From 15 to 24 years' 'From 25 to 34 years' 'From 35 to 44 years'
 'From 45 to 64 years' '65 years or over']


Empezando proceso de formato, aplicando pivot ...


Columnas temporal ancho son:  ['300 minutes or over' 'From 1 to 149 minutes' 'From 150 to 299 minutes'
 'Zero minutes']


DF del pivote:


DURATION  300 minutes or over  From 1 to 149 minutes  From 150 to 299 minutes  \
index
0                         NaN                    NaN                      NaN
1                         NaN                    NaN                      NaN
2                         NaN                    NaN                      NaN
3                         NaN                    NaN                      NaN
4                         NaN                    NaN                      NaN
...                       ...                    ...                      ...
1195                      1.9                    NaN                      NaN
1196                      0.7                    NaN                      NaN
1197                      1.2                    NaN                      NaN
1198                      0.6                    NaN                      NaN
1199                      0.2                    NaN                      NaN

DURATION  Zero minutes
index
0                 19.7
1                 37.0
2                 31.2
3                 46.0
4                  NaN
...                ...
1195               NaN
1196               NaN
1197               NaN
1198               NaN
1199               NaN

[1200 rows x 4 columns]


Imponemos mismo orden categorias de la independiente que en el archivo original
 (metodo "pivot" los reordena por alfabetico) ...


DF del pivote reordenado:


DURATION  Zero minutes  From 1 to 149 minutes  From 150 to 299 minutes  \
index
0                 19.7                    NaN                      NaN
1                 37.0                    NaN                      NaN
2                 31.2                    NaN                      NaN
3                 46.0                    NaN                      NaN
4                  NaN                    NaN                      NaN
...                ...                    ...                      ...
1195               NaN                    NaN                      NaN
1196               NaN                    NaN                      NaN
1197               NaN                    NaN                      NaN
1198               NaN                    NaN                      NaN
1199               NaN                    NaN                      NaN

DURATION  300 minutes or over
index
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
...                       ...
1195                      1.9
1196                      0.7
1197                      1.2
1198                      0.6
1199                      0.2

[1200 rows x 4 columns]

 Comprobamos correspondencia con el original....

DURATION  Zero minutes  From 1 to 149 minutes  From 150 to 299 minutes  \
index
843                NaN                    NaN                     23.4
694                NaN                    NaN                      9.8
508                NaN                   16.9                      NaN
361                NaN                   18.2                      NaN
468                NaN                   31.8                      NaN
256               20.8                    NaN                      NaN
697                NaN                    NaN                      9.6
295               89.0                    NaN                      NaN
355                NaN                   35.7                      NaN
972                NaN                    NaN                      NaN

DURATION  300 minutes or over          correspondencia
index
843                       NaN  From 150 to 299 minutes
694                       NaN  From 150 to 299 minutes
508                       NaN    From 1 to 149 minutes
361                       NaN    From 1 to 149 minutes
468                       NaN    From 1 to 149 minutes
256                       NaN             Zero minutes
697                       NaN  From 150 to 299 minutes
295                       NaN             Zero minutes
355                       NaN    From 1 to 149 minutes
972                      11.5      300 minutes or over


Creando DF de salida de la variable (columnas con categorias var indep) ...


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 7 columns):
GEO                                         300 non-null object
SEX                                         300 non-null object
AGE                                         300 non-null object
Weekly_phys_actv_Zero minutes               298 non-null float64
Weekly_phys_actv_From 1 to 149 minutes      298 non-null float64
Weekly_phys_actv_From 150 to 299 minutes    298 non-null float64
Weekly_phys_actv_300 minutes or over        298 non-null float64
dtypes: float64(4), object(3)
memory usage: 16.5+ KB
None

        GEO    SEX                  AGE  Weekly_phys_actv_Zero minutes  \
0  Belgium  Males  From 15 to 24 years                           19.7
1  Belgium  Males  From 25 to 34 years                           37.0
2  Belgium  Males  From 35 to 44 years                           31.2
3  Belgium  Males  From 45 to 64 years                           46.0
4  Belgium  Males     65 years or over                            NaN

   Weekly_phys_actv_From 1 to 149 minutes  \
0                                    20.1
1                                    24.7
2                                    36.1
3                                    19.0
4                                     NaN

   Weekly_phys_actv_From 150 to 299 minutes  \
0                                      14.3
1                                      18.2
2                                      15.6
3                                      18.8
4                                       NaN

   Weekly_phys_actv_300 minutes or over
0                                  45.9
1                                  20.2
2                                  17.0
3                                  16.2
4                                   NaN


Comprobacion: suma de porcentajes, valores unicos...
 [100.  100.1  99.9   nan 100.1 100.   99.9 100.  100.1]


Ultima comprobacion: cotejo con el original...


Muestra DF procesado...


                                                  GEO      SEX  \
44   Germany (until 1990 former territory of the FRG)    Males
189                                           Austria  Females
244                                           Finland    Males
247                                           Finland  Females
229                                          Slovenia  Females

                     AGE  Weekly_phys_actv_Zero minutes  \
44      65 years or over                           33.5
189     65 years or over                           33.1
244     65 years or over                           32.8
247  From 35 to 44 years                           19.5
229     65 years or over                           68.5

     Weekly_phys_actv_From 1 to 149 minutes  \
44                                     17.6
189                                    25.5
244                                    20.7
247                                    23.8
229                                    14.9

     Weekly_phys_actv_From 150 to 299 minutes  \
44                                       17.4
189                                      15.8
244                                      21.1
247                                      32.1
229                                       7.6

     Weekly_phys_actv_300 minutes or over
44                                   31.5
189                                  25.7
244                                  25.5
247                                  24.5
229                                   9.1


Buscando valores correspondientes en el archivo ORIGINAL:


                                                  GEO    SEX  \
44   Germany (until 1990 former territory of the FRG)  Males
344  Germany (until 1990 former territory of the FRG)  Males
644  Germany (until 1990 former territory of the FRG)  Males
944  Germany (until 1990 former territory of the FRG)  Males

                  AGE                 DURATION  Value
44   65 years or over             Zero minutes   33.5
344  65 years or over    From 1 to 149 minutes   17.6
644  65 years or over  From 150 to 299 minutes   17.4
944  65 years or over      300 minutes or over   31.5


          GEO      SEX               AGE                 DURATION  Value
189   Austria  Females  65 years or over             Zero minutes   33.1
489   Austria  Females  65 years or over    From 1 to 149 minutes   25.5
789   Austria  Females  65 years or over  From 150 to 299 minutes   15.8
1089  Austria  Females  65 years or over      300 minutes or over   25.7


          GEO    SEX               AGE                 DURATION  Value
244   Finland  Males  65 years or over             Zero minutes   32.8
544   Finland  Males  65 years or over    From 1 to 149 minutes   20.7
844   Finland  Males  65 years or over  From 150 to 299 minutes   21.1
1144  Finland  Males  65 years or over      300 minutes or over   25.5


          GEO      SEX                  AGE                 DURATION  Value
247   Finland  Females  From 35 to 44 years             Zero minutes   19.5
547   Finland  Females  From 35 to 44 years    From 1 to 149 minutes   23.8
847   Finland  Females  From 35 to 44 years  From 150 to 299 minutes   32.1
1147  Finland  Females  From 35 to 44 years      300 minutes or over   24.5


           GEO      SEX               AGE                 DURATION  Value
229   Slovenia  Females  65 years or over             Zero minutes   68.5
529   Slovenia  Females  65 years or over    From 1 to 149 minutes   14.9
829   Slovenia  Females  65 years or over  From 150 to 299 minutes    7.6
1129  Slovenia  Females  65 years or over      300 minutes or over    9.1

Pausa comprobación, pulsa "S" si correcto:	s
Weekly_phys_actv procesado con exito ...
Weekly_phys_actv guardado como .\data\procesado\base_Weekly_phys_actv.csv.


Procesado no dio resultado en 0 de 6
[]

**Comprobamos uno de los archivos:**

In [7]:
df_prueba = pd.read_csv(os.path.join('.\data\procesado','base_BMI.csv'))
df_prueba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 6 columns):
GEO                310 non-null object
SEX                310 non-null object
AGE                310 non-null object
BMI_Underweight    310 non-null float64
BMI_Normal         310 non-null float64
BMI_Overweight     310 non-null float64
dtypes: float64(3), object(3)
memory usage: 14.7+ KB

nº observaciones y columnas correcto

In [8]:
df_prueba.head()

,GEO,SEX,AGE,BMI_Underweight,BMI_Normal,BMI_Overweight
0,Belgium,Males,From 15 to 24 years,11.9,69.4,18.7
1,Belgium,Males,From 25 to 34 years,2.4,56.5,41.0
2,Belgium,Males,From 35 to 44 years,0.3,45.6,54.1
3,Belgium,Males,From 45 to 64 years,0.4,33.8,65.8
4,Belgium,Males,65 years or over,0.6,33.7,65.6

In [9]:
df_prueba.tail()

,GEO,SEX,AGE,BMI_Underweight,BMI_Normal,BMI_Overweight
305,Turkey,Females,From 15 to 24 years,17.8,64.8,17.4
306,Turkey,Females,From 25 to 34 years,5.1,56.3,38.7
307,Turkey,Females,From 35 to 44 years,1.9,34.4,63.8
308,Turkey,Females,From 45 to 64 years,0.7,18.9,80.4
309,Turkey,Females,65 years or over,2.3,30.3,67.4